/* header and nav layout */

#nav {
  position: fixed;
  background-color: white;
  width:100%;
  z-index: 100;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

header nav a:any-link:hover {
  text-decoration: none;
}

header nav p:hover {
  background-color: yellow;
}

header nav .nav-brand img {
  width: 128px;
  height: 48px;
}

/* sections */
header nav .nav-sections p {
  display: inline;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 17px;
  line-height: 1.5;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header .nav-settings {
  color: white;
  background-color: black;
  font-size: 14px;
  margin-left: 685px;
  margin-right: 684px;
}

header #settings {
  background-color: black;
  padding: 5px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

header #settings p:hover {
  background-color: black !important;
}

header .nav-settings {
  max-width: 900px;
  width: 900px;
  float: right;
  display: flex;
}

header .nav-settings #setting0 {
  max-width: 948px;
  width: 948px;
  float: left;
}

header .nav-settings #setting0 {
  text-align: right;
  padding-left: 14px;
  padding-right: 14px;
}

header .nav-settings #setting1 {
  max-width: 166px;
  width: 166px;
  float: left;
  padding-left: 14px;
  padding-right: 14px;
}

header .nav-settings #setting1 {
  text-align: left;
}

header #navigations {
  padding-top: 60px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  display: table;
  margin-left: auto; 
  margin-right: auto;
  width: 1164px;
}

#navigations > div {
  float: left;
}

.nav-sections {
  width: 748px;
  padding-right: 14px;
  padding-left: 14px;
}


.nav-sections p {
  float: right;
}

.nav-tools {
  width: 102px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 15px;
  padding-bottom: 1px;
  display: flex;
}

#searchInput {
  background-color: hsla(0,0%,92.2%,.5411764705882353);
  color: #202020;
  font-size: 9pt;
  border-radius: 0;
  border: none;
  height: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -7px;
  margin-left: -30px;
}

#searchInput:focus {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0;
  color: #202020;
}