.columnsontop > div {
}

.columnsontop a {
    font-weight: 400;
    color: #202020;
    font-size: 36px;
    text-decoration: none;
}

.columnsontop h2 {
    margin-left: 50px;
    line-height: 1.2;
}

.columnsontop p {
    display: block;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;
    color: #202020;
    text-align: left;
    margin-right: 20px;
    margin-left: 50px;
}

.columnsontop .columns-1-cols {
    background-color: #202020;
}


@media (min-width: 900px) {
    .columnsontop > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columnsontop > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columnsontop > div > div:first-of-type {
        margin-left: unset;
    }
}

.columnsontop #column1 {
    margin-top: -180px;
    background-color: white;
    z-index: 1;
    position: relative;
    max-width: 1200;
    max-height: 209;
    
}

