.columnstwo > div {
    background-color: #ebebeb;
    margin-bottom: 1em;
}

.columnstwo img {
   display: flex !important;
   max-width: 709px !important;
   width: 709px !important;
   max-height: 502px !important;
   height: 502px !important;
   margin-left: 0px !important;
}

.columnstwo a {
    font-weight: 400;
    color: #202020;
    font-size: 36px;
    text-decoration: none;
}

.columnstwo h2 {
    margin-left: 50px;
    line-height: 1.2;
}

.columnstwo p {
    display: block;
    font-size: 14px;
    margin: 10;
    line-height: 1.75;
    text-align: left;
    color: #202020;
    text-align: left;
    margin-right: 20px;
    margin-left: 50px;
}


@media (min-width: 900px) {
    .columnstwo > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columnstwo > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columnstwo > div > div:first-of-type {
        margin-left: unset;
    }
}